<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Project{% endblock %}</title>
</head>
<body>
    <header>
        <h1>{% block header %}My Project Header{% endblock %}</h1>
    </header>
    
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <!-- Добавьте другие ссылки, как необходимо -->
        </ul>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2023 My Project</p>
    </footer>
</body>
</html>
